//301 Redirect Old File
Redirect 301 /index.html /index.html

//Change default directory page
DirectoryIndex index.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 